<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/a930f18a-3d07-4f8e-8654-69f41b4719ea/resourceGroups/rgAA/providers/Microsoft.ContainerRegistry/registries/aaACR</ResourceId>
    <ResourceName>aaACR</ResourceName>
    <ResourceGroup>rgAA</ResourceGroup>
    <Subscription>Visual Studio Enterprise Subscription</Subscription>
    <RegistryUrl>aaacr.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>b2ecba31-dc6c-4ce5-beba-ec45e507bbea</ProjectGuid>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>